@import 'nouislider.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  right : 0;
  bottom: 0;
  overflow: hidden;
}

.link {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 5px;
}

.link.direct { stroke: #3FB8AF; }
.link.indirect { stroke-dasharray: 5; }
.link.misc { stroke-dasharray: 10; }

.node {
  cursor: move;
  font-size: 20px;
}
.node:hover circle { fill: #da3131; }

section.tools {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 50px;
}


// -------------------------------------------------------------------------

.easing {
  -webkit-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -moz-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -ms-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  -o-transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  transition: all 200ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
}